$menu_responsive_media: 1024px;
$menu_dropdown_width: 180px;
$sub-menu: 'true';  /* true | false */
$mega-menu: 'true';  /* true | false */
$tab-menu: 'true';  /* true | false */

.header-section{
    background-color: #50CB93;
    @media (max-width: 1024px){
        padding: 15px 0;
    }
    .ac-left{
        float: left;
        width: 87px;
        .ac-logo{
            overflow: hidden;
            a{
                display: block;
            }
        }
    }
    .ac-right{
        float: left;
        width: calc(100% - 87px);
    }
}

@media (min-width: 1025px){
    .menu {
        margin: 0;
        padding: 0;
        position: relative;
        left: inherit !important;
        z-index: 99;
        width: 100% !important;
        background-color: transparent;
        &:after{
            content: ".";
            display: block;
            clear: both;
            visibility: hidden;
            line-height: 0;
            height: 0;
        }
        > ul {
            display: flex;
            white-space: nowrap;
        }
        ul {
            padding: 0;
            margin: 0;
            list-style: none;
            float: right;
            li {
                padding: 0;
                margin: 0;
                display: inline-block;
                float: left;
                a {
                    display: block;
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 150%;
                    color: #ffffff;
                    padding: 15px 15px;
                    &:hover {
                        color: #ffffff;
                        background-color: #54436B;
                    }
                }
                &.active > a, &:hover > a{
                    color: #ffffff;
                    background-color: #54436B;
                }
                > a {
                    &:after{
                        content: '';
                    }
                    &:only-child{
                        &:after{
                            content: '';
                        }
                    }
                }
                &:hover {
                    > a {
                        &:after{
                            content: '';
                        }
                        &:only-child{
                            &:after{
                                content: '';
                            }
                        }
                    }
                    > .sub-menu, > .mega-menu, > .tab-menu {
                        display: inherit;
                    }
                }
            }

            @if $sub-menu == "true"{
                .sub-menu {
                    display: none;
                    position: absolute;
                    li {
                        padding: 0;
                        margin: 0;
                        width: $menu_dropdown_width;
                        float: none;
                        display: list-item;
                        position: relative;
                        background-color: #ffffff;
                        box-shadow: 0 16px 24px 2px rgba(#000000,0.03),
                        0 6px 30px 5px rgba(#000000,0.03),
                        0 8px 10px -5px rgba(#000000,0.03);
                        a {
                            display: block;
                            padding: 8px 10px;
                            font-size: 14px;
                            font-weight:600;
                            line-height: 150%;
                            color: #212529;
                            border-bottom: 1px solid rgba(#000000, 0.1);
                            &:hover {
                                color: #ffffff;
                                background-color: #50CB93;
                            }
                        }
                        &.active > a, &:hover > a{
                            color: #ffffff;
                            background-color: #50CB93;
                        }
                    }
                    .sub-menu {
                        li {
                            position: relative;
                            top: -42px;
                            left: $menu_dropdown_width;
                        }
                    }
                }
            } @else{
                .sub-menu{
                    display: none !important;
                }
            }

            @if $mega-menu == "true"{
                .mega-menu{
                    display: none;
                    position: absolute;
                    left: 0;
                    right: 0;
                    background-color: #ffffff;
                    padding: 15px;
                    box-shadow: 0 16px 24px 2px rgba(#000000,0.03),
                    0 6px 30px 5px rgba(#000000,0.03),
                    0 8px 10px -5px rgba(#000000,0.03);
                    .mm_title{
                        display: block;
                        font-size: 14px + 4px;
                        font-weight: 400;
                        line-height: 110%;
                        color: #000000;
                        margin: 0 0 15px 0;
                        padding: 0;
                        &:hover{
                            color: #50CB93;
                            background-color: transparent;
                        }
                    }
                    > li{
                        width: 20%;
                        float: left;
                        padding: 0;
                        margin: 0;
                        &:nth-child(5n+1){
                            clear: both;
                        }
                        ul {
                            li{
                                display: block;
                                width: 100%;
                                margin: 0;
                                padding: 0;
                                border-left: 1px solid rgba(#000000, 0.1);
                                a{
                                    padding: 5px 10px;
                                    font-size: 14px;
                                    font-weight: 400;
                                    line-height: 120%;
                                    color: #212529;
                                    &:hover{
                                        color: #000000;
                                        background-color: transparent;
                                    }
                                }
                                &.active > a, &:hover > a{
                                    color: #000000;
                                    background-color: transparent;
                                }
                            }
                        }
                        &:hover > a{
                            color: #50CB93;
                            background-color: transparent;
                        }
                    }
                }
            } @else{
                .mega-menu{
                    display: none !important;
                }
            }

            @if $tab-menu == "true"{
                .tab-menu{
                    display: none;
                    position: absolute;
                    left: 0;
                    right: 0;
                    padding: 15px;
                    background-color: #ffffff;
                    box-shadow: 0 16px 24px 2px rgba(#000000,0.03),
                    0 6px 30px 5px rgba(#000000,0.03),
                    0 8px 10px -5px rgba(#000000,0.03);
                    > li{
                        margin: 0;
                        padding: 0;
                        width: 200px;
                        display: block;
                        float: none;
                        border-bottom: 1px solid rgba(#000000, 0.1);
                        border-right: 1px solid rgba(#000000, 0.1);
                        &:last-child{
                            border-bottom: none;
                        }
                        > a{
                            padding: 8px 10px;
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 120%;
                            color: #212529;
                            &:hover{
                                color: #50CB93;
                                background-color: transparent;
                            }
                        }
                        &:first-child{
                            ul{
                                display: block;
                            }
                        }
                        > ul {
                            display: none;
                            position: absolute;
                            z-index: 9;
                            left: 215px;
                            top: 0;
                            width: calc(100% - 215px);
                            padding: 15px;
                            background-color: #ffffff;
                            > li{
                                float: left;
                                width: 25%;
                                .tm_title{
                                    display: block;
                                    font-size: 14px + 4px;
                                    font-weight: 400;
                                    line-height: 110%;
                                    color: #000000;
                                    margin: 0 0 10px 0;
                                    padding: 0;
                                    &:hover{
                                        color: #50CB93;
                                        background-color: transparent;
                                    }
                                }
                                ul {
                                    li{
                                        display: block;
                                        width: 100%;
                                        margin: 0;
                                        padding: 0;
                                        a{
                                            padding: 5px 0;
                                            font-size: 14px;
                                            font-weight: 400;
                                            line-height: 120%;
                                            color: #212529;
                                            &:hover{
                                                color: #50CB93;
                                                background-color: transparent;
                                            }
                                        }
                                        &.active{
                                            > a{
                                                color: #50CB93;
                                            }
                                        }
                                    }
                                }
                                &.active > a, &:hover > a{
                                    color: #50CB93;
                                    background-color: transparent;
                                }
                            }
                        }
                        &.active{
                            border-right: 5px solid rgba(#000000, 0.1);
                            > ul {
                                display: block;
                                z-index: 9;
                            }
                        }
                        &:hover{
                            border-right: 5px solid rgba(#000000, 0.1);
                            > ul {
                                display: block;
                                z-index: 99;
                            }
                        }
                        &.active > a, &:hover > a{
                            color: #000000;
                            background-color: transparent;
                        }
                    }
                    .thumbnail-container{
                        padding-bottom: 150%;
                        background-color: rgba(#000000, 0.2);
                    }
                }
            } @else{
                .tab-menu{
                    display: none !important;
                }
            }
        }
    }

    .is-open, .menu__open, .menu__close, .menu_mobile_visibility{
        display: none !important;
    }
    
    .col_half{
        width: 50%;
        float: left;
        display: block;
        &.left{
            padding-right: 50px;
        }
        &.right{
            padding-left: 50px;
        }
    }
    .header-gap{
        margin-top: 51px;
    }
}

@media (max-width: 1024px){    
    .menu {
        position: fixed;
        z-index: 999;
        overflow-x: scroll;
        margin: 0;
        padding: 0;
        width: 280px;
        left: -350px;
        bottom: 0;
        top: 0;
        background-color: #50CB93;
        //@include ac-bg-gradient (90deg, #54436B, 0.9, 35%, #54436B, 0.7, 100%);
        transition: all 0.5s ease-in-out;
        .brand-nav {
            margin: 0px 15px 15px 15px !important;
            background-color: #ffffff;
            border-radius: 5px;
            padding: 15px;
            li {
                &:first-child{
                    border-top: none;
                }
            }
        }
        ul {
            padding: 0;
            margin: 0px;
            list-style: none;
            position: relative;
            z-index: 9;
            li {
                padding: 0;
                margin: 0;
                clear: both;
                border-top: 1px dashed rgba(#000000, 0.1);
                &:last-child{
                    border-bottom: none;
                }
                &:after{
                    content: ".";
                    display: block;
                    clear: both;
                    visibility: hidden;
                    line-height: 0;
                    height: 0;
                }
                a{
                    padding: 12px 10px;
                    display: block;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 120%;
                    color: #000000;
                }
                &.active{
                    > a{
                        color: #54436B;
                    }
                }
                ul {
                    display: none;
                    min-height: auto !important;
                    li{
                        a{
                            padding-left: 20px; 
                        }
                    }
                }
            }
        }
    }

    .menu__open {
        color: #ffffff;
        svg {
            width: 30px;
            height: 30px;
        }
    }

    .menu__close {
        position: absolute;
        color: #ffffff;
        right: 15px;
        padding: 5px;
        background-color: transparent;
        border-radius: 5px;
        svg {
            width: 24px;
            height: 24px;
        }
    } 
    
    .is-open{
        position: relative;
        z-index: 99;
        text-align: center;
        width: 40px;
        align-items: center;
        display: flex;
        height: 40px;
        justify-content: center;
        svg {
            width: 20px;
            height: 20px;
            transition: all 0.5s ease-in-out;
        }
        &.is-close {
            svg {
                transform: rotate(45deg);
            }
        }
    }

    

    .is-open-a > a{
        float: left;
        width: calc(100% - 40px);
    }

    .menu .is-open.is-close ~ ul {
        display: block;
        li{
            &:first-child{
                border-top: 1px dashed rgba(#000000, 0.1);
            }
        }
    }

    .menu-hidden{
        display: none;
    }
    
    /* Only Mobile Menu Top Design S */
        .menu_mobile_visibility{
            position: relative;
            //@include ac-bg-gradient (90deg, #50CB93, 1, 35%, #50CB93, 0.8, 100%);
            padding: 20px 15px 20px 20px;
            display: flex;
            align-items: center;
            .menu-logo {
                width: 90px;
            }
        }
    /* Only Mobile Menu Top Design E */

    .col_half {
        > ul > li:last-child{
            border-bottom: 1px solid rgba(#000000, 0.1);
        }
        .navbar-left, .navbar-right{
            float: none !important;
        }
    }

    /* Menu Overlap S */
        .menu_overlap {
            position: relative;
            overflow: hidden;
            .nav-overlay {
                position: fixed;
                z-index: 99;
                background-color: rgba(#000000, 0.7);
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
            }
        }
    /* Menu Overlap E */
}

/* Hide Header on on scroll down S */
    @media (min-width: $menu_responsive_media + 1px){
        header{
            position: fixed;
            z-index: 9;
            top: 0;
            width: 100%;
            transition: all 0.5s ease-in-out;
        }
        header.nav-up{
            //top: -58px;
        }
    }

    @media (max-width: $menu_responsive_media){ 
        .menu_open_close{
            text-align: right;
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }
        header.mobile-stick{
            .menu_open_close{
                position: fixed;
                z-index: 9;
                right: 15px;
                top: 15px;
                background-color: rgba(#50CB93, 1);
                border-radius: 2px;
                width: 35px;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
/* Hide Header on on scroll down E */

#more-menu{
    display:none;
    .sub-menu {
        right: 0;
        .sub-menu {
            li {
                right: 180px;
                left: auto;
            }
        }
    }
}




.ac-menu-open,
.ac-menu-open::after,
.ac-menu-open::before {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 3px;
    background: #ffffff;
}

.ac-menu-open::after,
.ac-menu-open::before {
    content: "";
    position: absolute;
    top: -6px
}

.ac-menu-open::after {
    top: 6px
}


.ac-menu-close {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 22px;
    height: 22px;
    border: 2px solid transparent;
    border-radius: 40px
}

.ac-menu-close::after,
.ac-menu-close::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 16px;
    height: 2px;
    background: #ffffff;
    transform: rotate(45deg);
    border-radius: 5px;
    top: 8px;
    left: 1px
}

.ac-menu-close::after {
    transform: rotate(-45deg)
}



.ac-menu-plus,
.ac-menu-plus::after {
    display: block;
    box-sizing: border-box;
    background: currentColor;
    border-radius: 10px
}

.ac-menu-plus {
    margin-top: -2px;
    position: relative;
    transform: scale(0.8);
    width: 16px;
    height: 2px
}

.ac-menu-plus::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 16px;
    top: -7px;
    left: 7px
}